<%= render 'shared/card', has_return: true, return_path: practical_classes_path ,breadcrumbs: {crumbs: [name: 'Clase Practica', path: practical_classes_path], active_label: "Categorias de la clase: #{@practical_class.description}"} do %>
<div class="row">
  <div class="col-lg-12">
    <%= link_to(new_practical_class_practical_licence_class_path, class: 'btn btn-primary') do%>
     <%= icon('fas','plus', 'Agregar') %>
     <% end %>
  </div>
</div>
<% if @practical_licence_classes.empty? %>
  <br>
  <div class="alert alert-info">
    <strong>&iexcl;Atenci&oacute;n!</strong>
      Aun no se registran categorias para este clase practica, has clic en el bot&oacute;n <%= fw_icon('plus') %> para agregar la primera.
  </div>
<% else %>
<div class="row">
    <div class="col-lg-12">
      <br>
      <h5>Listado de categorias registradas para este clase practica</h5>
      <br>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width='5%'></th>
              <th width='10%'>Tipo de categoria</th>
              <th width='10%'>Tipo servicio</th>
              <th width='10%'>Vehiculos permitidos</th> 
            </tr>
          </thead>
          <tbody>
            <% @practical_licence_classes.each do |practical_class_category| %>
              <tr>
                <td>
                  <%= link_to(edit_practical_class_practical_licence_class_path(id: practical_class_category[:id]), class: 'btn btn-outline-dark btn-sm') do %>
                    <%= icon('fas', 'pencil-alt', 'editar') %>
                  <% end %>
                </td>
                <td><%= practical_class_category.licence_type.category %></td>
                <td><%= practical_class_category.licence_type.service_type %></td>
                <td><%= practical_class_category.licence_type.allowed_vehicles %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<% end %>
