<%= render 'shared/card',has_return: true,breadcrumbs: {crumbs: [{name: 'Estudiantes', path: students_path},{name: 'Matriculas', path: student_enrollments_path(@enrollment)}], active_label: "Pagos del estudiante: #{@enrollment.student.person.name} #{@enrollment.student.person.last_name}"} do %>
<div class="row">
  <div class="col-lg-12">
    <% if student_debt(@enrollment) > 0 %>
      <%= link_to(new_student_enrollment_student_advance_path, class: 'btn btn-primary') do%>
       <%= icon('fas','plus', 'Agregar') %>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <strong>&iexcl;Atenci&oacute;n!</strong>
          El estudiante ya no presenta deudas con la autoescuela
      </div>
    <% end %>
  </div>
</div>
<% if @student_advances.empty? %>
  <br>
  <div class="alert alert-info">
    <strong>&iexcl;Atenci&oacute;n!</strong>
      Aun no se registran pagos para esta matricula, has clic en el bot&oacute;n <%= fw_icon('plus') %> para agregar la primera.
  </div>
<% else %>
<div class="row">
    <div class="col-lg-12">
      <br>
      <% if student_debt(@enrollment) > 0 %>
       <h5>Listado de pagos</h5>
      <%else%>
        <h5 style="margin-left: 125px;">Historial de pagos realizados por el estudiante <b><%= student_name(@enrollment)%></b></h5>
      <%end%>
      <br>
      <% if student_debt(@enrollment) > 0 %>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width='5%'></th>
              <th width='10%'>Concepto</th>
              <th width='10%'>Fecha pago</th>
              <th width='10%'>Valor pago</th>
            </tr>
          </thead>
          <tbody>
            <% @student_advances.each do |student_advance| %>
              <tr>
                <td>
                  <%= link_to(edit_student_enrollment_student_advance_path(id: student_advance[:id]), class: 'btn btn-outline-dark btn-sm') do %>
                    <%= icon('fas', 'pencil-alt', 'editar') %>
                  <% end %>
                </td>
                <td><%= student_advance.description %></td>
                <td><%= student_advance.advance_date.strftime("%Y-%m-%d") %></td>
                <td><%= number_to_currency(student_advance.advance_value) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%else%>
      <div>
        <div class="row">
        <% @student_advances.each_with_index do |student_advance, index| %>
        <div class="card mb-3" style="max-width: 18rem; margin-left: 90px;">
          <div class="card-header "><b><%="Pago ##{index + 1}"%></b></div>
          <div class="card-body text-dark">
            <h5 class="card-title"><%=student_advance.description.capitalize%></h5>
            <p class="card-text">El estudiante realizo un anticipo por un valor de <b><%=number_to_currency(student_advance.advance_value)%></b> al costo total del curso para la licencia tipo <b><%=@enrollment.licence_type.category%></b>.</p>
          </div>
          <div class="card-footer bg-transparent text-muted"><small>Anticipo hecho el <%= student_advance.advance_date.strftime("%Y-%m-%d") %></small></div>
        </div>
        <br>
        <% end %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
<% end %>
<% end %>
