<div class="card">
   <div class="list-group">
     <%= link_to(students_path, class: "list-group-item #{is_students_path}") do %>
       <%= icon('fas','user-alt', 'Estudiantes') %>
     <% end %>
     <%= link_to(licences_path, class: "list-group-item #{is_licences_path}") do %>
       <%= icon('fas','address-card', 'Licencia') %>
     <% end %>
     <%= link_to(teachers_path, class: "list-group-item #{is_teachers_path}") do %>
       <%= icon('fas','user-tie', 'Profesores') %>
     <% end %>
     <%= link_to(vehicles_path, class: "list-group-item #{is_vehicles_path}") do %>
       <%= icon('fas','car', 'Vehiculos') %>
     <% end %>
     <%= link_to(classes_path, class: "list-group-item #{is_classes_path}") do %>
       <%= icon('fas','chalkboard-teacher', 'Clases') %>
     <% end %>
    </div>
</div>
