<%= render 'shared/card',has_return: true, breadcrumbs: {crumbs: [name: 'Estdiantes'], path: students_path, active_label: "Matriculas"} do %>
<div class="row">
  <div class="col-lg-12">
    <%= link_to(new_students_enrollment_path, class: 'btn btn-primary') do%>
     <%= icon('fas','plus', 'Agregar') %>
     <% end %>
  </div>
</div>
<% if @enrollments.empty? %>
  <br>
  <div class="alert alert-info">
    <strong>&iexcl;Atenci&oacute;n!</strong>
      Aun no se registran matriculas para este estudiante, has clic en el bot&oacute;n <%= fw_icon('plus') %> para agregar la primera.
  </div>
<% else %>
<div class="row">
    <div class="col-lg-12">
      <br>
      <h5>Listado de matriculas registradas para este estudiante</h5>
      <br>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th width='5%'></th>
              <th width='10%'>Nombre</th>
              <th width='10%'>Apellido</th>
              <th width='10%'># identificacion</th> 
              <th width='10%'>Numero de telefono</th>
              <th width='15%'>Direccion</th>
            </tr>
          </thead>
          <tbody>
            <% @enrollments.each do |enrollment| %>
              <tr>
                <td>
                  <%= link_to(edit_student_enrollment_path(enrollment), class: 'btn btn-outline-dark btn-sm') do %>
                    <%= icon('fas', 'pencil-alt', 'editar') %>
                  <% end %>
                </td>
                <td><%= enrollment.name %></td>
                <td><%= enrollment.last_name %></td>
                <td><%= enrollment.id_number %></td>
                <td><%= enrollment.phone_number %></td>
                <td><%= enrollment.address %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<% end %>
