<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <%= form_for(@practical_class, html: {id: 'practical_classes_form',
        'data-description'  => @practical_class.description,
        'data-class-length'  => @practical_class.class_length,
      }
    ) do |f| %>

<div class="row">
  <div class="col-lg-5">
    <div class="form-group">
      <%= f.label :descripcion %>*<br />
      <%= f.text_field :description, class: 'form-control', "v-model" => "descriptionValue", "@input" => "fieldClass('practical_class_description', $v.descriptionValue.$invalid), $v.descriptionValue.$touch()" %>
      <div v-if="$v.descriptionValue.$dirty">
        <p class="required-field" v-if="!$v.descriptionValue.required">*El campo de descripcion es requerido!</p>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="form-group">
      <%= f.label :duracion_clase_en_minutos %>*<br />
      <%= f.number_field :class_length, class: 'form-control', "v-model" => "classLengthValue", "@input" => "fieldClass('practical_class_class_length', $v.classLengthValue.$invalid), $v.classLengthValue.$touch()" %>
      <div v-if="$v.classLengthValue.$dirty">
        <p class="required-field" v-if="!$v.classLengthValue.required">*El campo de duracion es requerido!</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div v-show="$v.$invalid" class="alert alert-warning" role="alert">
      <i class="fas fa-exclamation-circle"></i>
        Los campos con el * son requeridos
    </div>
  </div>
</div>
<hr>
<div class="actions">
  <%= f.submit "Actualizar", class: 'btn btn-primary', ':disabled' => "$v.$anyError || $v.$invalid"%>
  <%= link_to 'Cancelar', practical_classes_path, class: 'btn btn-outline-secondary' %>
  <% unless @practical_class.new_record? %>
    <%= link_to('#', class: 'btn btn-outline-danger float-right', "data-target" => "#destroyModal", "data-toggle" => "modal") do %>
      <i class="fas fa-trash-alt"></i>
    <% end -%>

    <!-- BEGIN DESTROY MODAL -->
    <div id="destroyModal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar persona</h4>
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <p>
                Esta seguro de eliminar la clase <b><%= @practical_class.description %></b>? <br> Tenga en cuenta que esta acción es permanente.
            </p>
          </div>

          <div class="modal-footer">
            <button class="btn btn-outline-secondary" data-dismiss="modal" type="button">Cerrar</button>
              <%= link_to "Eliminar", @practical_class, method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>

</div>
</div>
