<!DOCTYPE html>
<html>
  <head>
    <title>Vueapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval': false %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container-fluid-flash"">
      <%= render 'shared/flash', flash: flash %>
    </div>
    <% if user_signed_in? %>
    
  <div class="container-fluid-body">
    <div class=row>
      <div class="col-lg-2">
        <%= render 'shared/menu' %>
      </div>


      <div class="col-lg-9">
        <%= render 'shared/card' do %>
        <%= yield %>
        <% end %>
      </div>
    </div>
  </div>  

  <% else %>
    <%= yield %>
  <% end %>
  
  </body>

 <%= render 'shared/footer' %>
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" data-turbolinks-eval=false></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" data-turbolinks-eval=false></script>
</html>
